.services{
    padding: 150px 0;
}
.services__title{
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    margin-bottom: 66px;
}
.services__items{
    display: flex;
    flex-wrap: wrap;
}
.services__item{
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 59px 0;  
    max-width: 350px;
    margin-bottom: 25px;
}
.services__img{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.services__item--title{
    font-size: 21px;
    display: block;
}
